extends ../layouts/application

block content
  table(class="table table-hover")
    tr
      th #
      th Job ID
      th Job Title
      th Description 
      th Qualification
    each position in positions
      tr   
        td #{position.id}
        td #{position.job_id}
        td 
          a(href="/position/edit/#{position.id}") #{position.title}
        td #{position.desc}
        td #{position.qualification}
