extends ../layouts/application

block content
  div(class="form-group")
    p
      label(class="form-group-addon",id="basic-addon") Job ID 
      a(class="btn btn-primary btn-sm pull-right") Refer
    p(class="hs-info text-muted") #{position.job_id}
  div(class="form-group")
    label(class="form-group-addon",id="basic-addon") Title
    p(class="hs-info text-muted") #{position.title}
  div(class="form-group")
    label(class="form-group-addon",id="basic-addon1") Description 
    p(class="hs-info text-muted") #{position.desc}
  div(class="form-group")
    label(class="form-group-addon",id="basic-addon1") Qualifications 
    p(class="hs-info text-muted",aria-describedby="basic-addon1") #{position.qualification}
    a(class="btn btn-primary", href="/position/#{position.id}/edit") Edit 
