extends layouts/application

block content
  form
    div(class="form-group")
      span(class="input-group-addon",id="basic-addon1") title
      input(class=type="text", class="form-control", placeholder="Username" ,aria-describedby="basic-addon1")
    div(class="input-group")
      span(class="input-group-addon",id="basic-addon1") company
      input(class=type="text", class="form-control", placeholder="Username" ,aria-describedby="basic-addon1")
    div(class="input-group")
      span(class="input-group-addon",id="basic-addon1") skill 
      input(class=type="text", class="form-control", placeholder="Username" ,aria-describedby="basic-addon1")
    div(class="input-group")
      span(class="input-group-addon",id="basic-addon1") dipnoma
      input(class=type="text", class="form-control", placeholder="Username" ,aria-describedby="basic-addon1")
    div(class="input-group")
      span(class="input-group-addon",id="basic-addon1") work-years 
      input(class=type="text", class="form-control", placeholder="Username" ,aria-describedby="basic-addon1")
    div(class="input-group")
      span(class="input-group-addon",id="basic-addon1") salary-expect 
      input(class=type="text", class="form-control", placeholder="Username" ,aria-describedby="basic-addon1")
